<!DOCTYPE html>
<html>
<head>
    <title>Authorization Management</title>
</head>
<body>
	<div id="logo">
		<h1>PSE Authorization Management</h1>
	</div>	
	<form action=/authentification/logout/>
			<input type=submit value="Logout">
		</form>	
			
	<div id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/profile/">Profile</a></li>
			<li><a href="/resources-overview/">Resources Overview</a></li>
			{% if is_admin %}
			    <li><a href="/resource-manager/">Manage Resources</a></li>
			    <li><a href="/user-manager/">Manage Users</a></li>
			{% endif %}
		</ul>			
	</div>

{% block body %}
{% endblock %}
</body>
</html>