{% extends "AuthorizationManagement/profile.html" %}
{% block body %}

	{% for user in user_list %}
	
	
	<p>
	<form method="post">
	{% csrf_token %}
	
  	<div>
    		<h3 >{{user.username}}:</h3>
  	</div>
  	{% if user in owners %}
  	<div id='checkboxes'>
    	<input  type="checkbox" name="reader[]" value={{user.id}}  checked="checked" disabled>
    	<input  type="hidden" name="reader[]" value={{user.id}} >
    	<label  >reader</label>
    	<input type="checkbox" name="owner[]" value={{user.id}}  checked="checked" disabled>
    	<input  type="hidden" name="owner[]" value={{user.id}} >
    	<label  >owner</label>
    	</p>
    	{% elif user in readers %}
    	<div id='checkboxes'>
    	<input  type="checkbox" name="reader[]" value={{user.id}} checked="checked">
    	<label  >reader</label>
    	<input type="checkbox" name="owner[]" value={{user.id}}>
    	<label  >owner</label>
    	</p>
    	
    	{% else %}
    	
    	<div id='checkboxes'>
    	<input  type="checkbox" name="reader[]" value={{user.id}}>
    	<label  >reader</label>
    	<input type="checkbox" name="owner[]" value={{user.id}}>
    	<label  >owner</label>
    	</p>
    	{% endif %}
    	
  	{% endfor %}
  	<p>
    	<button type="submit">Submit</button>
  	</p>
  	</div>
	</form>
{% endblock %}
