{% extends "AuthorizationManagement/profile.html" %}
{% block body %}




<p>Search for user:</p>

<form action="/profile/my-resources/{{resource.id}}-edit-users-permissions/search" method="get">


  <input type="text" name='q' placeholder="Type a username">
  <input type="submit" value="Search">
</form>


{% if query %}


	{% for user in user_list %}
	
	
	<p>
	<form method="post">
	{% csrf_token %}
	
  	<div>
    		<h3 >{{user.username}}:</h3>
  	</div>
  	{% if user in owners %}
  	{% if not user.is_staff %}
  	<div id='checkboxes'>
    	<input  type="checkbox" name="reader[]" value={{user.id}}  checked="checked" disabled>
    	<input  type="hidden" name="reader[]" value={{user.id}} >
    	<label  >reader</label>
    	<input type="checkbox" name="owner[]" value={{user.id}}  checked="checked" >
    	
    	<label  >owner</label>
    	{% else %}
    	<div id='checkboxes'>
    	<input  type="checkbox" name="reader[]" value={{user.id}}  checked="checked" disabled>
    	<input  type="hidden" name="reader[]" value={{user.id}} >
    	<label  >reader</label>
    	<input type="checkbox" name="owner[]" value={{user.id}}  checked="checked" disabled>
    	<input  type="hidden" name="owner[]" value={{user.id}} >
    	<label  >owner</label>
    	{% endif %}
    	</p>
    	{% elif user in readers %}
    	<div id='checkboxes'>
    	<input  type="checkbox" name="reader[]" value={{user.id}} checked="checked">
    	<label  >reader</label>
    	<input type="checkbox" name="owner[]" value={{user.id}}>
    	<label  >owner</label>
    	</p>
    	
    	{% else %}
    	
    	<div id='checkboxes'>
    	<input  type="checkbox" name="reader[]" value={{user.id}}>
    	<label  >reader</label>
    	<input type="checkbox" name="owner[]" value={{user.id}}>
    	<label  >owner</label>
    	</p>
    	{% endif %}
    	
  	{% endfor %}
  	<p>
    	<button type="submit">Submit</button>
  	</p>
  	</div>
	</form> 
{% else %}	
	
	
	<p>
	<form method="post">
	{% csrf_token %}
	{% for user in readers %}
	{% if user in owners %}
	{% if not user.is_staff %}
  	<div>
    		<h3 >{{user.username}}:</h3>
  	</div>
  	
  	<div id='checkboxes'>
    	<input  type="checkbox" name="reader[]" value={{user.id}}  checked="checked" disabled>
    	<input  type="hidden" name="reader[]" value={{user.id}} >
    	<label  >reader</label>
    	<input type="checkbox" name="owner[]" value={{user.id}}  checked="checked" >
    	<label  >owner</label>
    	{% else %}
    	<div>
    		<h3 >{{user.username}}:</h3>
  	</div>
    	<div id='checkboxes'>
    	<input  type="checkbox" name="reader[]" value={{user.id}}  checked="checked" disabled>
    	<input  type="hidden" name="reader[]" value={{user.id}} >
    	<label  >reader</label>
    	<input type="checkbox" name="owner[]" value={{user.id}}  checked="checked" disabled>
    	<input  type="hidden" name="owner[]" value={{user.id}} >
    	<label  >owner</label>
    	{% endif %}
    	</p>
    	{% else %}
    	<div>
    		<h3 >{{user.username}}:</h3>
  	</div>
    	<div id='checkboxes'>
    	<input  type="checkbox" name="reader[]" value={{user.id}} checked="checked">
    	<label  >reader</label>
    	<input type="checkbox" name="owner[]" value={{user.id}}>
    	<label  >owner</label>
    	</p>
    	{% endif %}
    	
  	{% endfor %}
  	
  	<p>
    	<button type="submit">Submit</button>
  	</p>
  	
  	</div>
  	
	</form>
	{% endif %}
	
{% endblock %}
