<!DOCTYPE html>
<html>
<head>

<!-- your webpage info goes here -->

    <title>Home</title>
	
	<meta name="author" content="your name" />
	<meta name="description" content="" />

<!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->	
	<link rel="stylesheet" href="style.css" type="text/css" />
	
</head>
<body>

<!-- webpage content goes here in the body -->

	<div id="page">
		<div id="logo">
			<h1> PSE Authorization Management</h1>
		</div>
		<div id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/profile/">Profile</a></li>
				<li><a href="/search-resources">Ressources Overview </a></li>
			</ul>	
		</div>
		<div id="content">
			<h2>Home</h2>
			<p>
				This is the Home View
			</p>			
		</div>
		<div id="footer">
			
		</div>
	</div>
</body>
</html>