{% extends "AuthorizationManagement/base.html" %}

{% block profile %}
	class="active";
{% endblock %}

{% block styles %}
	{% load static %}
	<link href="{% static 'AuthorizationManagement/css/home.css' %}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'AuthorizationManagement/css/modal_dialog_req.css' %}" />
{% endblock %}

{% block body %}

		<h2>Profile ({{user.username}})</h2>

		
  
		<p><strong>Name:</strong> {{ user.first_name }} {{user.last_name}} </p>
		<p><strong>E-mail:</strong> {{ user.email }}</p>
		<p><strong>Joined on:</strong> {{ user.date_joined }}</p>  
		
		<ul class="nav">
			<li>
				<div id="first">
					<form action="/profile"><input type=submit value="Requests"></form>
				</div>
			</li>
			<li>
				<div id="second">
					<form action="/profile/my-resources"><input type=submit value="My Resources"></form>
				</div>
			</li>
		<ul/>
	
	{% block requests_or_resources %}
			
			<h3>Access requests</h3>
			{% for access_request in access_request_list %}
			    <p> From: {{access_request.sender.username}} </p>
				<p> For: {{access_request.resource.name}} </p>
				<p> Description: {{access_request.description}} </p>
				
				<a href="#approve-request-{{access_request.pk}}" > accept </a>
								
				<div id="approve-request-{{access_request.pk}}" class="modalDialog">
					<div>
						<a href="" title="Close" class="close"> x </a>
						<form action="/approve-access-request/{{access_request.pk}}" method="post">
						{% csrf_token %}
							
							<div class="row">
								<label for="desc">Description: </label><br><br>									
                                <textarea id="descr" name = "descr" placeholder="optional" maxlength="250" cols = "50" rows = "5"></textarea>
                            </div>
							<div class="row">
								<p> Are you sure you want to approve the access request for {{access_request.resource.name}}? </p>
								<input id="yes" type="submit" value="yes, allow permissions">
								<button>
									<a href="" title="close" class="close"> close </a>
								</button>
							</div>
						</form>
					</div>
				</div>

				<a href="#deny-request-{{access_request.pk}}" > deny </a>
								
				<div id="deny-request-{{access_request.pk}}" class="modalDialog">
					<div>
						<a href="" title="Close" class="close"> x </a>
						<form action="/deny-access-request/{{access_request.pk}}" method="post">
						{% csrf_token %}
							
							<div class="row">									
                                <label for="desc">Description: </label><br><br>		                                    
                                <textarea id="descr" name = "descr" placeholder="optional" maxlength="250" cols = "50" rows = "5"></textarea>                                    
                            </div>
							<div class "row">
								<p> Are you sure you want to deny the access request for {{access_request.resource.name}}? </p>
								<input id="yes" type="submit" value="yes, deny permission">
								<button>
									<a href="" title="close" class="close"> close </a>
								</button>
							</div>
						</form>
					</div>
				</div>


            {% endfor %}
            
            {% if is_admin %}
            <h3>Deletion requests</h3>
	{% for deletionrequest in deletionrequest_list %}
			    <p> From: {{deletionrequest.sender.username}} </p>
				<p> For: {{deletionrequest.resource.name}} </p>
				<p> Description: {{deletionrequest.description}} </p>
				
				<a href="#approve-request-{{deletionrequest.pk}}" > accept </a>
								
				<div id="approve-request-{{deletionrequest.pk}}" class="modalDialog">
					<div>
						<a href="" title="Close" class="close"> x </a>
						<form action="/approve-deletion-request/{{deletionrequest.pk}}" method="post">
						{% csrf_token %}
							
							<div class="row">
								<label for="desc">Description: </label><br><br>									
                                <textarea id="descr" name = "descr" placeholder="optional" maxlength="250" cols = "50" rows = "5"></textarea>
                            </div>
							<div class="row">
								<p> Are you sure you want to delete {{deletionrequest.resource.name}}? </p>
								<input id="yes" type="submit" value="yes, delete resource">
								<button>
									<a href="" title="close" class="close"> close </a>
								</button>
							</div>
						</form>
					</div>
				</div>
						
				<a href="#deny-request-{{deletionrequest.pk}}" > deny </a>
								
				<div id="deny-request-{{deletionrequest.pk}}" class="modalDialog">
					<div>
						<a href="" title="Close" class="close"> x </a>
						<form action="/deny-deletion-request/{{deletionrequest.pk}}" method="post">
						{% csrf_token %}
							
							<div class="row">									
                                <label for="desc">Description: </label><br><br>		                                    
                                <textarea id="descr" name = "descr" placeholder="optional" maxlength="250" cols = "50" rows = "5"></textarea>                                    
                            </div>
							<div class=row">
								<p> Are you sure you want to deny the deletion request for {{deletionrequest.resource.name}}? </p>
								<input id="yes" type="submit" value="yes, deny deletion">
								<button>
									<a href="" title="close" class="close"> close </a>
								</button>
							</div>
						</form>
					</div>
				</div>

            {% endfor %}
            {% endif %}

	{% endblock %}
		
{% endblock %}	