{% extends "AuthorizationManagement/base.html" %}

{% block profile %}
	class="active";
{% endblock %}

{% block styles %}
	{% load static %}
	<link href="{% static 'AuthorizationManagement/css/home.css' %}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'AuthorizationManagement/css/modal_dialog_req.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'AuthorizationManagement/css/profile.css' %}" />
{% endblock %}

{% block body %}


	

		<div class="body">
  
		<p class="name"><strong>{{ user.first_name }} {{user.last_name}}</strong></p>
		<p>({{user.username}})</p>

		<ul class="profile-nav">
			<li><a href="/profile/">Requests</a></li>
				
			<li><a href="/profile/my-resources">My Resources</a></li>
				
		<ul/>
		</div>
		
		
{% block requests_or_resources %}
		
			<div class="container">
			
			
			{% for access_request in accessrequest_list %}
			<div class="info">
			    <p> From: {{access_request.sender.username}} </p>
				<p> For: {{access_request.resource.name}} </p>
				<p> Description: {{access_request.description}} </p>
				<p> Created on: {{access_request.creationDate}}
			</div>	
				<a href="#approve-request-{{access_request.pk}}" class="accept-btn"> Accept </a>
								
				<div id="approve-request-{{access_request.pk}}" class="modalDialog">
					<div>
						<a href="" title="Close" class="close"> x </a>
						<form action="/approve-access-request/{{access_request.pk}}" method="post">
						{% csrf_token %}
							
							<div class="row">
								<label for="desc">Description: </label><br><br>									
                                <textarea id="descr" name = "descr" placeholder="optional" maxlength="250" cols = "50" rows = "5"></textarea>
                            </div>
							<div class="row">
								<p> Are you sure you want to approve the access request for {{access_request.resource.name}}? </p>
								<input id="yes" type="submit" value="yes, allow permissions">
								<button>
									<a href="" title="close" class="close"> close </a>
								</button>
							</div>
						</form>
					</div>
				</div>

				<a href="#deny-request-{{access_request.pk}}" class="deny-btn"> Deny </a>
								
				<div id="deny-request-{{access_request.pk}}" class="modalDialog">
					<div>
						<a href="" title="Close" class="close"> x </a>
						<form action="/deny-access-request/{{access_request.pk}}" method="post">
						{% csrf_token %}
							
							<div class="row">									
                                <label for="desc">Description: </label><br><br>		                                    
                                <textarea id="descr" name = "descr" placeholder="optional" maxlength="250" cols = "50" rows = "5"></textarea>                                    
                            </div>
							<div class "row">
								<p> Are you sure you want to deny the access request for {{access_request.resource.name}}? </p>
								<input id="yes" type="submit" value="yes, deny permission">
								<button>
									<a href="" title="close" class="close"> close </a>
								</button>
							</div>
						</form>
					</div>
				</div>


            {% endfor %}
            
            {% if is_admin %}
            <h3>Deletion requests</h3>
	{% for deletionrequest in deletionrequest_list %}
			    <p> From: {{deletionrequest.sender.username}} </p>
				<p> For: {{deletionrequest.resource.name}} </p>
				<p> Description: {{deletionrequest.description}} </p>
				
			    <button style=" margin-left:10px;">
				<a href="#approve-request-{{deletionrequest.pk}}" > accept </a>
				</button>
								
				<div id="approve-request-{{deletionrequest.pk}}" class="modalDialog">
					<div>
						<a href="" title="Close" class="close"> x </a>
						<form action="/approve-deletion-request/{{deletionrequest.pk}}" method="post">
						{% csrf_token %}
							
							<div class="row">
								<label for="desc">Description: </label><br><br>									
                                <textarea id="descr" name = "descr" placeholder="optional" maxlength="250" cols = "50" rows = "5"></textarea>
                            </div>
							<div class="row">
								<p> Are you sure you want to delete {{deletionrequest.resource.name}}? </p>
								<input id="yes" type="submit" value="yes, delete resource">
								<button>
									<a href="" title="close" class="close"> close </a>
								</button>
							</div>
						</form>
					</div>
				</div>
						
				<button style=" margin-left:10px;">
				<a href="#deny-request-{{deletionrequest.pk}}" > deny </a>
				</button>
								
				<div id="deny-request-{{deletionrequest.pk}}" class="modalDialog">
					<div>
						<a href="" title="Close" class="close"> x </a>
						<form action="/deny-deletion-request/{{deletionrequest.pk}}" method="post">
						{% csrf_token %}
							
							<div class="row">									
                                <label for="desc">Description: </label><br><br>		                                    
                                <textarea id="descr" name = "descr" placeholder="optional" maxlength="250" cols = "50" rows = "5"></textarea>                                    
                            </div>
							<div class=row">
								<p> Are you sure you want to deny the deletion request for {{deletionrequest.resource.name}}? </p>
								<input id="yes" type="submit" value="yes, deny deletion">
								<button>
									<a href="" title="close" class="close"> close </a>
								</button>
							</div>
						</form>
					</div>
				</div>

            {% endfor %}
            {% endif %}
				
	</div>
	
	{% endblock %}		
{% endblock %}	