{% extends "AuthorizationManagement/profile.html" %}

{% block styles %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'AuthorizationManagement/css/info.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'AuthorizationManagement/css/modal_dialog_req.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'AuthorizationManagement/css/profile.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'AuthorizationManagement/css/my-resources.css' %}" />
{% endblock %}

{% block requests_or_resources %}

	<div class="mini-nav">
			<a href="/profile/" class="noncurrent">Requests</a></li>
				
			<a href="/profile/my-resources" class="current">My Resources</a></li>
	</div>	
	
<div class="resources-container">	
	
	<a href="/profile/my-resources/add-new-resource" class="create-resource"><strong>+</strong></a>
	
	{% for resource in resource_list %}
		<a href="#{{resource.pk}}" class="res-name"> {{resource.name}} </a>
		<div id="{{resource.pk}}" class="modalDialog">
			<div>
				<a href="" title="Close" id="x"> x </a>
					<h2 id="details">Details</h2><br>
					<p>Name: <strong>{{resource.name}}</strong></p>
					<p>Type: <strong>{{resource.type}}</strong></p>
					<p>CreationDate: <strong>{{resource.creationDate}}</strong></p> 
					<p>Description: <strong>{{resource.description}}</strong></p>
					<button class="button">
					<a href="../../resources/{{res.pk}}" class="access"download>Access</a>
					</button>
			</div>
		</div>

		<a href="../../resources/{{resource.id}}" class="res-access-btn"download>Access</a>

		<a href="/profile/my-resources/{{resource.id}}-edit-users-permissions" class="edit-perm"> Edit Permissions</a>

		{% if resource in deletion_requested %}
				      <a href="#cancel-deletion-request-{{resource.pk}}" class="cancel-del-req"> Cancel Deletion Request </a>

						<div id="cancel-deletion-request-{{resource.pk}}" class="modalDialog">
							<div>
							<a href="" title="Close" id="x"> x </a>
							<form action="/cancel-deletion-request/{{resource.id}}" method="post">
							{% csrf_token %}
								<div class="row">
								<p> Are you sure you want to <strong>cancel</strong> the deletion request for resource: 
								<strong>{{resource.name}}</strong>? </p>
								<br>
								    <input type="submit" id="no" value="yes, cancel request">
									<a href="" title="Close" id="close"> Close </a>
								</div>
							  </form>
							</div>
						</div>
						<br>
						

		{% else %}
			{% if is_admin %}	
			<a href="#delete-resource-{{resource.pk}}" class="delete-btn"> Delete </a>
			{% else %}
			<a href="#send-deletion-request-{{resource.pk}}" class="delete-btn"> Delete </a>
			{% endif %}
		<div id="send-deletion-request-{{resource.pk}}" class="modalDialog">
				<div>
				<a href="" title="Close" id="x"> x </a>
					<form action="/send-deletion-request/{{resource.id}}" method="post">
						{% csrf_token %}						    

							<div class = "row">
								<p> Are you sure you want to send a request for <strong>deletion</strong> of resource:
								<strong>{{resource.name}}</strong>?</p>
								<br>
							</div>
							<div class="row">
								<label for="descr">Message: </label><br>
                                <textarea id="descr" name = "descr" placeholder="optional" maxlength="250" cols = "51" rows = "7"></textarea>
							</div>
							<input id="no" type="submit" value="Yes, request deletion">
							<a href="" title="Close" id="close"> Close </a>
					</form>
				</div>
		</div>
		<div id="delete-resource-{{resource.pk}}" class="modalDialog">
				<div>
				<a href="" title="Close" id="x"> x </a>
					<form action="/delete-resource/{{resource.id}}" method="post">
						{% csrf_token %}
						    
							<div class = "row">
								<p> Are you sure you want to <strong>delete</strong> the resource 
								<strong>{{resource.name}}</strong>?</p>
								<br>
							</div>
							<div class="row">
								<label for="descr">Message: </label><br><br>
                                <textarea id="descr" name = "descr" placeholder="optional" maxlength="250" cols = "51" rows = "7"></textarea>
							</div>
							<input id="yes" type="submit" value="Yes, delete resource">
							<a href="" title="Close" id="close"> Close </a>
					</form>
				</div>
		</div>
	{% endif %}
  {% endfor %}
  
</div>

{% endblock %}