/*style sheet for the authentification functionality - login and registration)*/

* {
	margin:0;
	padding:0;
    line-height: 28px;		/*																 */
    border-radius: 4px;		/* These 3 lines are for Login page Username and passwrod styles */
    margin-bottom: 20px;	/*                                                               */
}

body {
	background-color: #dddfd4; /* grey */
	height: 75vh;
	text-decoration: none;
	background-size: cover;
	background-position: center;
	text-align: center;	
	margin-top: 100px;
	font-family: "Roboto", sans-serif;
}
	
.container {
	color: #3fb0ac; /* light-blue */
	text-decoration: none;
	padding: 5px 20px;
	font-size: 30px;	
}

.logo img {
	width: 150px;
	height: 150px;
}

.form-signin {
	margin-top: 10;
	font-size: 20px;
	color: #173e43; /* dark-blue */
	text-transform: lowercase;	
	display: inline-block;
    width: 400px;
    text-align: right;
	
}
.signin-fields {
	border:none;
	width: 290px;
	line-height: 30px;
	border-radius: 4px;
	padding-left: 40px;
	margin-bottom: 5px;
}
.signin-btn {
    background-color: #173e43; /* dark-blue */
    border: none;
	height: 39px;
	width: 90px;
	font-size: 16px;
    color: white;
    text-align: center;
	margin-right: 160px;	
	border-radius: 4px;
}

.signin:hover {
	color: #fae596;
}

.signup-btn {
	color: #173e43;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
	margin-right: 9px;
}

.signup:hover{
	color: #3fb0ac;
}

.reg {
	color: #173e43;
}

.reg-fields {
	border:none;
	width: 290px;
	line-height: 30px;
	border-radius: 4px;
	padding-left: 10px;
	margin-bottom: 15px;
}

