* {
	margin:0;
	padding:0;
}

body {
	background-color: #dddfd4; /* grey */
	height: 75vh;
	text-decoration: none;
	background-size: cover;
	background-position: center;
	text-align: center;	
	margin-top: 100px;
	font-family: "Roboto", sans-serif;
}
	
.container {
	color: #3fb0ac; /* light-blue */
	text-decoration: none;
	padding: 5px 20px;
	font-size: 30px;	
}

.logo img {
	width: 150px;
	height: 150px;
}

.form-signin {
	margin-top: 10;
	font-size: 20px;
	color: #173e43; /* dark-blue */
	text-transform: lowercase;	
	display: inline-block;
    width: 400px;
    text-align: right;
	margin-right: 130px;
	
}

.signin {
    background-color: #173e43; /* dark-blue */
    border: none;
	height: 39px;
	width: 90px;
	font-size: 16px;
    color: white;
    text-align: center;
	margin-right: 95px;	
	border-radius: 4px;
}

.signin:hover {
	color: #fae596;
}

.signup {
	color: #173e43;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
	margin-right: 9px;
}

.signup:hover{
	color: #3fb0ac;
}

.reg {
	color: #173e43;
}



