/* user requests */
.container-edit-permissions{
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	grid-template-rows: auto 55px auto 55px;
	font-family: "Roboto", sans-serif;
	margin-top: 15px;	
}

